@import "variables.scss";
@import "reset.scss";

@import "theme.scss";

body {
	margin: 0;
}

body, th, td {
	font-size: #{$text-size};
	font-weight: #{$text-weight};
	font-family: #{$text-font};
}

body {
	background-color: #{$body-bg};
	line-height: #{$line-height};
	overflow: hidden;
}

.no-selection {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-drag {
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
}

@import "text.scss";
@import "flex.scss";
@import "layout.scss";
@import "pill.scss";
@import "app.scss";
@import "header.scss";
@import "button.scss";
@import "menu.scss";
@import "form.scss";

@import "view_modal.scss";
@import "view_datepicker.scss";
@import "view_lookup.scss";

@import "exc_helpers.scss";

@import "cmp_toggle.scss";
@import "cmp_check.scss";
@import "cmp_date.scss";
@import "cmp_table.scss";

